.seasonsTable{
    background-color: rgb(42, 23, 46);
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
    width: 100%; /* Ancho de la tabla */
    border: 2px solid #000; /* Borde de la tabla */
    color: whitesmoke;
}
.seasonsRef{
    background-color: #252125;
}
th, td {
    border: 1px solid #fdfbfb;
    padding: 8px; 
    text-align: center; 
}

footer{

}